<p id="notice"><%= notice %></p>

<p>
  <b><%= @post.title %></b>
  <br />
  Posted <%= @post.created_at.localtime.strftime("%B, %d %Y @ %I:%M %p")  %> by <%= @post.name %>
</p>

<p>
  <%= @post.message %>
</p>

<%= button_to 'Edit', edit_post_path(@post), :method => :get %>
