<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
  <br />
  Posted <%= @post.created_at %> by <%= @post.name %>
</p>

<p>
  <%= @post.message %>
</p>

<%= button_to 'Edit', edit_post_path(@post), :method => :get %>
